*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: solid red; */
}

.sign{
    width: 240px;
    height: 350px;
    padding: 0px 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 7px solid rgb(254, 184, 8);
    margin: 0px auto 10px auto;
    padding-top: 0px;
    margin-bottom: 20px;
    margin-top: -38px;
    border-radius: 20px;
    font-weight: 900;
}

.sign h1{
    font-weight: 400;
    font-size: 43px;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.sign label{
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 9px;
    font-weight: 700;
    justify-content: space-between;
}

.sign input{
    width: 200px;
    height: 40px;
    padding: 6px 7px;
    margin-top: 3px;
    border: 1px solid #858484;
    background-color: #fff;
    border-radius: 4px;
    display: block;
}

.button{
    background-color: rgb(255, 208, 0);
    height: 35px;
    align-content: center;
    margin-top: 10px;
    width: 0%;
}

.form label{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.pass{
    justify-content: right;
    padding-top: 5px;
}

.pass button{
    color: black;
    background-color: rgb(255, 208, 0);
    width: 200px;
    height: 38px;
    align-content: center;
    border: 1px solid white;
    background-image: linear-gradient(yellow, orange);
    border-radius: 2px;
}



.container{
    display: flex;
    flex-direction: column;
    height: 425px;
    width: 950px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: -100px;
    margin-bottom: -7px;
    padding-top: -100px;
}

.container span{
   margin: 10px;
   height: 200px;
}

.forgot{
    justify-content: space-between;
    display: flex;
    padding-bottom: 7px;
    flex-direction: column;
}

.terms{
    justify-content: space-around;
    display: flex;
    flex-direction: row;

}

.icon{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
}

.a-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 89%;
}

header{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.conditions{
    flex-direction: row;
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
  
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 800px;
    flex-direction: row;
    background-color: rgb(108, 194, 255);
    color: aliceblue;
    border: 4px solid black;
    border-radius: 5px;
}

h3{
    display: flex;
    z-index: -2;
    border-top: 9px solid#22a4e4;
    border-top-width: 3px;
    height: 30px;
    justify-content: center;
    width: 100%;
    font-weight: 700; 
    color: rgb(0, 170, 255);
    font-size: 1.5em;
}

.new-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 0px;
}

.button-two{
    background-color: rgb(255, 208, 0);
    width: 200px;
    height: 40px;
    align-content: center;
    border: 1px solid white;
    background-image: linear-gradient(yellow, orange);
    border-radius: 2px;
    margin-top: 0px;
    
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
    align-content: center;
    align-items: center;
    padding-right: 20px;
}

.copyright{
    margin-top: 15px;
    flex-direction: column;
    font-size: 23px;
    font-weight: 500;
}





